services:
  api:
    container_name: node_app

    build: .

    ports:
      - "3000:3000"
    
    depends_on:
      - db
  db:
    image: postgres:15

    container_name: postgres-db

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: user_data
    ports:
      - "5432:5432"
  
